:root {
  /* Cores */

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Fontes */
  --leckerli: font-family: "Leckerli One", cursive;
  --baloo-2: font-family: "Baloo 2", sans-serif;
  --open-sans: font-family: "Open Sans", sans-serif;

  --logo: 400 2.5rem/auto var(var(--leckerli));

  --heading-md: 800 1.75rem/auto var(--baloo-2);
  --heading-md: 800 1.125rem/auto var(--baloo-2);

  --body-md: 400 1rem/auto var(--open-sans);
  --body-sm: 400 0.875rem/auto var(--open-sans);
  --body-xs: 400 0.75rem/auto var(--open-sans);
}